create table schedule_blocks (\n  id uuid primary key default uuid_generate_v4(),\n  user_id uuid references users(id),\n  title text not null,\n  description text,\n  start_time timestamptz not null,\n  end_time timestamptz not null,\n  created_at timestamptz default now(),\n  updated_at timestamptz default now()\n);
